.container {
    max-width:1200px;
    margin: 0 auto;
}


.list_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style-type: none;
}
.list_item .item {
    width: 30%;
    margin-bottom: 1rem;
    border: 1px solid gray;
    display: block;
    padding: 0.5rem;
}
.item .name {
    margin: 1rem 0;
}
.item  .image {
    background: var(--green);
    width: 100%;
    aspect-ratio: 1/.75;
}
.item  a {
    display:block;
    padding: 0.5rem 1rem;
    border: 1px solid gray;
    width: fit-content;
}